<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mycss.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }

        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Graphic Store</h1>
        <p>T-shirts, Bilboards & Labels</p>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a th:href="'/koszulki'">T-Shirts</a></li>
                <li><a href="/bilboards">Bilboards</a></li>
                <li><a href="/labels">Labels</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a sec:authorize="isAuthenticated()" sec:authentication="name"></a></li>
                <li><a sec:authorize="isAnonymous()" href="/login"><span class="glyphicon glyphicon-pawn"></span> Log in</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/logout"><span class="glyphicon glyphicon-eject"></span> Logout</a></li>
                <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-offset-5">
            <form class="form-inline" th:action="${'/search'}">
                <label>Search</label>
                <input type="text" th:name="searchWord" placeholder="Search items">
                <button type="submit" class="btn btn-primary">Search</button>
                <!--th:action="@{${'/search'}(searchWord = ${searchWord})}"-->
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <th:block th:each="item : ${page.getContent()}">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><p th:text="${item.name}"><p/></div>
                    <div class="panel-body"><img th:src="@{'data:image/jpg;base64,'+${item.getEncodedPicture()}}" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">
                        <ul class="list-inline">
                            <li><strong><p class="text-info" th:text="'Size: '+${item.size}"></p></strong></li>
                            <li><strong><p class="text-info" th:text="'Price: '+${item.price}"></p></strong></li>
                        </ul>
                        <p>
                            <a th:href="@{${'koszulki2'}(pagei = ${page.getNumber()}, id=${item.id})}" class="btn btn-warning btn-large">
                                <span class="glyphicon-shopping-cart glyphicon">
                                </span> Order Now
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
<div class="table-pagination text-center">
    <ul class="pagination">
        <li th:class="${page.getNumber() eq 0} ? 'disabled' : ''">
            <a th:if="${page.hasPrevious()}" th:href="@{${'koszulki1'}(pagei=${page.getNumber()-1})}">Previous</a>
            <a th:if="${not page.hasPrevious()}" th:href="@{${'#'}(pagei=${page.getNumber()})}">Previous</a>
        </li>
        <li th:class="${page.getNumber() eq page.getTotalPages()-1} ? 'disabled' : ''">
            <a th:if="${page.hasNext()}" th:href="@{${'koszulki1'}(pagei=${page.getNumber()+1})}">Next</a>
            <a th:if="${not page.hasNext()}" th:href="@{${'#'}(pagei=${page.getNumber()})}">Next</a>
        </li>
    </ul>
</div>
<br><br><br>

<footer class="container-fluid text-center">
    <p>Online Store Copyright</p>
    <form class="form-inline">Get deals:
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
</footer>

</body>
</html>
