<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Koszulka</title>
</head>
<body>
    <form th:action="@{/admin/addkoszulka}" th:object="${koszulka}" method="post" role="form" autocomplete="off" action="#">
        <input type="text" th:field="*{name}" placeholder="Name"
               class="form-control" />
        <input type=image th:field="*{picture}" placeholder="Picture"
               class="form-control" />
        <input type=number th:field="*{size}" placeholder="Size"
               class="form-control" />
        <button type="submit" >Add t-shirt</button>
    </form>
</body>
</html>