<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Koszulka</title>
</head>
<body>
    <form th:action="@{/admin/addkoszulka}" method="post" role="form" autocomplete="off" action="#" enctype="multipart/form-data">
        <input type="text" th:name="name" placeholder="Name"/>
        <input type="file" th:name="picture" placeholder="Picture"/>
        <input type="number" th:name="size" placeholder="Size"/>
        <button type="submit" >Add t-shirt</button>
    </form>
</body>
</html>