<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/justified-nav.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IEsassets><script src="/scripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/scripts/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respscriptsd.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Add new Koszulka</title>
</head>
<body>

<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Damian Smug Project</h3>
        <nav>
            <ul class="nav nav-justified">
                <li><a href="../index.html">Home</a></li>
                <li class="active"><a href="admin/manage-koszulka.html">Manage T-shirts</a></li>
                <li><a href="manage-bilboard.html">Manage Bilboards</a></li>
                <li><a href="manage-naklejka.html">Manage Labels</a></li>
                <li><a href="manage-other.html">Manage Others</a></li>
                <li><a href="users.html">Manage Users</a></li>
                <li><a href="manage-orders.html">Manage Orders</a></li>
            </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Manage T-shirts!</h1>
        <p class="lead">Manage t-shirts of your store</p>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>-->
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Add T-shirt</h2>
            <form th:action="@{/admin/addkoszulka}" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
                <input type="text" th:name="name" placeholder="Name"/>
                <input type="file" th:name="picture" placeholder="Picture"/>
                <input type="number" th:name="size" placeholder="Size"/><br />
                <button class="btn btn-sm btn-success" type="submit" >Add t-shirt</button>
            </form>
        </div>
        <div class="col-lg-4">
            <h2>Remove T-shirt</h2>
            <form th:action="@{/admin/removekoszulka}" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
                <input type="number" th:name="id" placeholder="Id Koszulki"/><br />
                <button class="btn btn-sm btn-success" type="submit">Remove t-shirt</button>
            </form>
        </div>
        <div class="col-lg-4">
            <h2>Edit T-shirt</h2>
            <form th:action="@{/admin/editkoszulka}" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
                <input type="number" th:value="0" th:name="id" placeholder="Which Id of T-shirt"/><br/>
                <input type="text" th:name="name" placeholder="New Name"/>
                <input type="file" th:name="picture" placeholder="New Picture"/>
                <input type="number" th:value="0" th:name="size" placeholder="New Size"/><br />
                <button class="btn btn-sm btn-success" type="submit">Edit t-shirt</button>
            </form>
        </div>
        <div class="col-lg-4">
            <h2>T-shirts</h2>
            <table class="table table-hover">
                <tr>
                    <td>Tshirt ID</td>
                    <td>Tshirt Name</td>
                    <td>Tshirt Size</td>
                </tr>
                <th:block th:each="koszulka : ${page.getContent()}">
                    <tr>
                        <td th:text="${koszulka.id}">...</td>
                        <td th:text="${koszulka.name}">...</td>
                        <td th:text="${koszulka.size}">...</td>
                        <!--<td th:text="${koszulka.picture}">...</td>-->
                    </tr>
                </th:block>
            </table>
            <div class="table-pagination">
                <ul class="pagination">
                    <li th:class="${page.getNumber() eq 0} ? 'disabled' : ''">
                        <a th:if="${page.hasPrevious()}" th:href="@{${'/admin/manage-koszulka1'}(pagei=${page.getNumber()-1})}">Previous</a>
                        <a th:if="${not page.hasPrevious()}" th:href="@{${'#'}(pagei=${page.getNumber()})}">Previous</a>
                    </li>
                    <li th:class="${page.getNumber() eq page.getTotalPages()-1} ? 'disabled' : ''">
                        <a th:if="${page.hasNext()}" th:href="@{${'/admin/manage-koszulka1'}(pagei=${page.getNumber()+1})}">Next</a>
                        <a th:if="${not page.hasNext()}" th:href="@{${'#'}(pagei=${page.getNumber()})}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
    </footer>

</div> <!-- /container -->

</body>
</html>